    /* Add your CSS styles here */

    /* Global Styles */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    /* Header Styles */
    header {
        background-color: white;
        color: white;
        padding: 50px 0;
        text-align: center;
    }

    /* Main Content Styles */
    .catalog {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px; /* Add padding to the top of the product section */
    }

    .catalog h3 {
        color: #333; /* Change color of product title */
    }
    
    .catalog p {
        color: rgb(255, 102, 0); /* Change color of other product details */
    }
    
    .product img {
        max-width: 100%;
        height: auto;
    }

    .product {
        width: 250px;
        margin: 10px;
        padding: 15px;
        border: 1px solid #ccc;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        /* Footer Styles */
    footer {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }

   /* Updated styles for contact */
.contact {
    position: absolute;
    top: 170px; /* Adjust top position */
    left: 50%; /* Adjust left position */
    transform: translateX(-50%);
}

.contact a {
    color: Black;
    text-decoration: none;
    margin: 30px 15px;
}

.contact a:hover {
    text-decoration: underline;
}
    
    /* Filter Buttons Styles */
.filter-buttons {
    background-color: white; /* Background color for filter container */
    padding: 15px; /* Padding for filter container */
    margin: auto; /* Center the filter container horizontally */
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center; /* Center the filter buttons horizontally */
}

.filter-buttons button {
    background-color: rgb(255, 208, 0); /* Background color for filter buttons */
    color: black; /* Text color for filter buttons */
    padding: 10px 20px; /* Padding for filter buttons */
    margin: 8px; /* Margin between filter buttons */
    border: none; /* Remove border from filter buttons */
    cursor: pointer;
    font-size: 20px; /* Increase font size */
    font-weight: bold; /* Make the text bold */
}

   
    .filter-buttons:hover {
        background-color: #1566e0; /* Darker background color on hover */
    }

    .order-form-container {
        position: relative;
        display: inline-block;
    }
    
    .order-form-link {
        display: inline-block;
        background-color: #ff0000; /* Set the background color */
        color: #fff; /* Set the text color */
        padding: 10px 20px; /* Adjust padding as needed */
        border-radius: 50%; /* Make it a circle */
        animation: pulse 2s infinite; /* Add flashing animation */
        margin-bottom: 5px; /* Add margin space between logo and contact*/
    }
    
    @keyframes pulse {
        0% { transform: scale(1); }
        50% { transform: scale(1.1); }
        100% { transform: scale(1); }
    }
    
 /* Styles for Tagline 1 */
.tagline1 {
    position: fixed;
    top: 10px; /* Adjust position from the top */
    left: 40%;
    color: darkorange; /* Change text color */
    font-size: 12px; /* Adjust font size */
    line-height: 1.5; /* Adjust line height for better readability */
    border-radius: 50%; /* Make it a circle */
    animation: pulse 2s infinite; /* Add flashing animation */
}

/* Styles for Tagline 2 */
.tagline2 {
    position: fixed;
    left: 38%; /* Adjust position from the top */
    color: darkblue; /* Change text color */
    font-size: 12px; /* Adjust font size */
    line-height: 1.5; /* Adjust line height for better readability */
    border-radius: 50%; /* Make it a circle */
    animation: pulse 2s infinite; /* Add flashing animation */
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
